<%- include('head') %>
<h1><%= title %></h1>
<table>
	<tr>
		<th>姓名</th>
		<th>年龄</th>
		<th>地址</th>
	</tr>
	<% for (var index = 0; index < data.length; index++) { %>
		<tr>
			<td><%= data[index].name %></td>
			<td><%= data[index].age %></td>
			<td><%= data[index].address %></td>
		</tr>
	<%}%>
</table>
<%- include('foot') %>
